.page {
  background-image: var(--bg-img);
  inline-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-color: var(--background-color);
}

.header {
  padding: 20px 20px 0 0;
  min-inline-size: 1024px;
  margin-block-end: 20px;
  min-block-size: 768px;
  block-size: 100%;
  position: relative;
}

.header,
.footer {
  block-size: 100vh;
}

.decorated-zone:before,
.decorated-zone:after {
  display: inline-block;
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  content: "";
  opacity: 2;
  z-index: -1;
}

.decorated-zone:before {
  inset-inline-end: 20px;
  inset-block-start: 20px;
  z-index: 1;
  border-inline-end: 1px solid var(--decorated-color);
  border-top: 1px solid var(--decorated-color);
}

.decorated-zone:after {
  inset-inline-start: 20px;
  inset-block-end: 20px;
  z-index: 1;
  border-inline-start: 1px solid var(--decorated-color);
  border-bottom: 1px solid var(--decorated-color);
}

.header__theme-conteiner {
  display: flex;
  justify-content: space-between;
  gap: 31.9%;
}

.header__theme-menu-list {
  padding-inline-start: 395px;
  display: flex;
  gap: 11px;
}

.header__theme-menu-button {
  border: none;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  line-height: 18px;
  appearance: none;
  padding: 2px 13px 2px 13px;
}

.header__decoration-conteiner {
  display: flex;
  position: relative;
  padding-right: 23px;
}
.header__decoration-conteiner-text {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding-right: 6px;
}

.header__theme-menu-button,
.header__decoration-conteiner-text {
  color: var(--decorated-color);
}

.header__decoration-conteiner-circle::after {
  content: "";
  position: absolute;
  left: 41px;
  top: 7px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  inline-size: 13px;
  block-size: 13px;
  background-color: var(--accent-color);
  filter: blur(2px);
  box-shadow: 4px var(--accent-color);
}

.header__text {
  padding-block-start: 27%;
  display: grid;
  grid-template-columns: 1fr 491px;
  grid-template-areas:
    "header header"
    "- text";
  gap: 118px;
}

.header__title {
  grid-area: header;
  text-shadow: 4px 4px 0 var(--title-shadow);
}

.decorated-text {
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.header__subtitle {
  grid-area: text;
  font-size: 18px;
  font-family: var(--font-family);
  min-inline-size: 364px;
  font-weight: 700;
  line-height: 23.4px;
}

.header__subtitle,
.section__cards-subtitle {
  color: var(--subtitle-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.section {
  padding: 41px 20px 0 20px;
}

.section__cards {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-block-end: 80px;
}

.section__cards-one {
  display: flex;
  gap: 20px;
}

.section__cards-title {
  color: var(--decorated-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  min-inline-size: 314.96px;
}

.section__cards-conteiner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__cards-desc {
  min-inline-size: 315px;
}

.section__cards-subtitle {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.width-card-title {
  max-inline-size: 236px;
}

.section__cards-one-subtitle {
  margin-block-end: 20px;
  color: var(--subtitle-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.section__cards-text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.link {
  text-shadow: 0 3px 0 var(--accent-color);
}

.section__cards-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-direction {
  display: flex;
  flex-direction: row;
}

.section__cards-three {
  display: flex;
  gap: 20px;
}

.text-weight {
  font-weight: 400;
}

.section__gallery {
  margin-block-end: 60px;
}

.cards {
  max-inline-size: 984px;
  grid-auto-flow: dense;
  gap: 20px;
  display: grid;
  grid-template-areas:
    "one one two"
    "three four two"
    "three five five";
}

.img-card-one {
  grid-area: one;
  max-inline-size: 649px;
}

.img-card-two {
  grid-area: two;
}

.img-card-three {
  grid-area: three;
  max-inline-size: 315px;
}

.img-card-four {
  grid-area: four;
  max-inline-size: 315px;
}

.img-card-five {
  grid-area: five;
  max-inline-size: 649px;
}

.cards__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  min-inline-size: 1024px;
  padding: 61px 20px 40px 20px;
  min-block-size: 768px;
  position: relative;
}

.footer__text {
  text-align: center;
  padding-block-start: 259px;
  text-shadow: 2px 2px 0 var(--title-shadow);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decorated-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decorated-color);
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--decorated-color);
}

.header__theme-menu-button:hover {
  text-decoration: none;
  outline: 1px solid var(--hover-outline);
  padding: 2px 13px 2px 13px;
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

@media (width < 1024px) {
  .header,
  .footer {
    min-block-size: 1024px;
    min-inline-size: 768px;
  }

  .header__theme-conteiner {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 147.5px;
  }

  .header__theme-menu-list {
    padding-inline-start: 0;
    flex-direction: column;
    gap: 15px;
  }

  .header__subtitle {
    margin-block-start: 44px;
    max-inline-size: 364px;
  }

  .header__text {
    padding-block-start: 175px;
    grid-template-columns: 1fr 363px;
  }
  .section__cards-title {
    min-inline-size: 236px;
  }

  .section__cards-conteiner {
    flex-direction: column;
  }

  .footer__text {
    padding-top: 396px;
  }
}

@media (375px <= width < 768px) {
  .header__title,
  .footer__text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header {
    padding: 10px 10px 0px 10px;
    min-block-size: 668px;
    margin-block-end: 0;
  }

  .header__theme-conteiner {
    gap: 40.5px;
  }
  .section__cards-one {
    flex-direction: column;
  }

  .section__cards-title {
    min-inline-size: 355px;
  }

  .section__cards-three {
    flex-direction: column;
  }

  .header__text {
    grid-template-areas:
      "header"
      "text";
    gap: 10px;
    padding-block-start: 68px;
  }

  .section {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header__subtitle {
    min-inline-size: 355px;
  }

  .cards {
    gap: 10px;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
  
  .cards__img {
    min-inline-size: 354.999px;
  }

  .header,
  .footer {
    min-inline-size: 375px;
    min-block-size: 667px;
  }

  .section__cards {
    gap: 50px;
    margin-block-end: 50px;
  }

  .gallary-gap {
    margin-block-end: 10px;
  }

  .section__gallery {
    margin-block-end: 39px;
  }

  .footer__text {
    padding-top: 227px;
  }

  .decorated-zone:before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }

  .decorated-zone:after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }
}
