.page {
  min-inline-size: 375px;
  /* max-inline-size: 1024px; */
  background-image: var(--bg-img);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-color: var(--background-color);
}

.header {
  padding: 20px 20px 0 20px;
  min-width: 1024px;
  margin-block-end: 20px;
  min-height: 768px;
  height: 100%;
  position: relative;
}

.header,
.footer {
  height: 100vh;
}

/* .header {
position: relative;
} */

/* .decorated-zone {
  position: relative;
  text-decoration: none;
} */

.decorated-zone:before,
.decorated-zone:after {
  display: inline-block;
  height: 25px;
  width: 25px;
  position: absolute;
  content: "";
  opacity: 2;
  z-index: -1;
  /* inset: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem); */
}

.decorated-zone:before {
  inset-inline-end: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  inset-block-start: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  /* inset: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem); */
  z-index: 1;
  /* padding-left: 15px; */
  border-inline-end: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.decorated-zone:after {
  inset-inline-start: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  inset-block-end: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  /* inset: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem); */
  z-index: 1;
  border-inline-start: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);

  position: absolute;
}

.header__theme-conteiner {
  display: flex;
  justify-content: center;
  gap: 31.9%;
}

.header__theme-menu-list {
  padding-inline-start: 360px;
  display: flex;
  gap: 27px;
}

.header__theme-menu-button {
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  line-height: 18px;
}

.header__decoration-conteiner {
  display: flex;
  position: relative;
}
.header__decoration-conteiner-text {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.header__theme-menu-button,
.header__decoration-conteiner-text {
  color: var(--accent-color);
}

.header__decoration-conteiner-circle::after {
  content: "";
  position: absolute;
  left: 41px;
  top: 7px;
  border: 1px solid var(--accent-color);
  border-radius: 9px;
  width: 13px;
  height: 13px;
  background-color: var(--accent-color);
  filter: blur(2px);
}

.header__text {
  /* position: relative; */
  padding-block-start: 24%;
  display: grid;
  grid-template-columns: 1fr 491px;
  grid-template-areas:
    "header header"
    "- text";
  padding-block-end: 90px;
  gap: 280px;
}

.header__title {
  position: absolute;
  left: 0px;
  top: 282px;
  /* top: 6px; */
  grid-area: header;
  font-family: IBM Plex Mono;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  grid-area: text;
  font-size: 18px;
  font-family: IBM Plex Mono;
  min-width: 364px;
  font-weight: 700;
  line-height: 23.4px;
}

.header__subtitle,
.section__cards-subtitle {
  color: var(--subtitle-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.section {
  /* padding: 41px 20px 20px 20px; */
  padding: 41px 20px 0 20px;
  min-width: 1011px;
}

.section__cards {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-block-end: 80px;
}

.section__cards-one {
  display: flex;
  gap: 20px;
}

.section__cards-title {
  color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  min-width: 314.96px;
}

.section__cards-conteiner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__cards-desc {
  min-width: 315px;
}

.section__cards-subtitle {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.section__cards-one-subtitle {
  margin-block-end: 20px;
  color: var(--subtitle-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.section__cards-text {
  color: var(--text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.link-shadow {
  text-shadow: 0 3px 0 var(--accent-color);
}

.section__cards-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-direction {
  display: flex;
  flex-direction: row;
}

.section__cards-three {
  display: flex;
  gap: 20px;
}

.text-weight {
  font-weight: 400;
}

.section__gallery {
  margin-block-end: 60px;
}

.section__img {
  max-width: 984px;
  grid-auto-flow: dense;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: repeat(3, fr);
  grid-template-areas:
    "one one two"
    "three four two"
    "three five five";
}

.img-card-one {
  grid-area: one;
  max-width: 649px;
}

.img-card-two {
  grid-area: two;
}

.img-card-three {
  grid-area: three;
  max-width: 315px;
}

.img-card-four {
  grid-area: four;
  max-width: 315px;
}

.img-card-five {
  grid-area: five;
  max-width: 649px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  min-width: 1024px;
  padding: 61px 20px 40px 20px;
  min-height: 768px;
  position: relative;
}

.footer__text {
  color: var(--title-color);
  font-family: IBM Plex Mono;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-align: center;
  /* padding-block-start: 304px; */
  padding-block-start: 259px;
  padding-block-end: 243px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  padding: 2px 13px 2px 13px;
  pointer-events: none;
}

button:focus-visible {
  color: var(--accent-color);
  text-decoration: underline;
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--text-color);
}

button:hover {
  text-decoration: none;
  outline: 1px solid rgba(255, 0, 112, 0.4);
  padding: 2px 13px 2px 13px;
}

a:hover {
  text-decoration: underline var(--text-color);
}

@media (768px <= width < 1024px) {
  .header {
    min-width: 375px;
    min-height: 1024px;
    margin-block-end: 20px;
  }

  .header__theme-conteiner {
    flex-direction: column-reverse;
    gap: 150px;
    align-items: flex-end;
  }

  .decorated-zone:before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone:after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__theme-menu-list {
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }

  .header__decoration-conteiner {
    padding-right: 30px;
  }

  .header__text {
    gap: 263px;
    justify-items: end;
    padding-block-end: 137px;
    grid-template-columns: 1fr 37%;
  }

  .header__title {
    padding-block-start: 154px;
  }

  .header__subtitle {
    max-width: 354px;
  }

  .section {
    min-width: 768px;
  }

  .section__cards-title {
    min-width: 236px;
  }

  .width-card-title {
    max-width: 236px;
  }

  .cards-direction {
    flex-direction: column;
  }
  .footer {
    min-width: 768px;
    min-height: 1024px;
  }

  .footer__text {
    padding-block-start: 400px;
    padding-block-end: 412px;
  }
}

@media (375px <= width < 768px) {
  .header {
    min-width: 375px;
    padding: 12px 12px 0px 11px;
    margin-block-end: 10px;
    min-height: 668px;
  }

  .header__theme-conteiner {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 40px;
  }

  .header__theme-menu-list {
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }

  .header__decoration-conteiner {
    padding-right: 27px;
  }

  .header__text {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "text";
    gap: 230px;
    padding-block-end: 30px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    left: 10px;
    /* top: 228px; */
    top: 239px;
    line-height: 82.5%;
  }

  .header__subtitle {
    min-width: 353px;
  }

  .section {
    padding: 30px 20px 0 11px;
    min-width: 353px;
  }

  .section__cards {
    gap: 50px;
    margin-block-end: 50px;
  }

  .section__cards-one-subtitle {
    margin-block-end: 20px;
  }

  .section__cards-one {
    flex-direction: column;
  }
  .section__cards-three {
    flex-direction: column;
    gap: 19px;
  }

  .section__cards-desc {
    min-width: 356px;
  }

  .cards-direction {
    flex-direction: column;
  }

  .section__cards-title {
    min-width: 355px;
  }

  .gallary-gap {
    margin-block-end: 10px;
  }

  .section__gallery {
    min-width: 354.999px;
    margin-block-end: 32px;
  }
  .section__img {
    gap: 12px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }

  img {
    min-width: 354.999px;
  }

  .footer {
    min-width: 375px;
    /* padding: 23px 12px 34px 9px; */
    /* padding: 10px 12px 34px 10px; */
    padding: 0 12px;
    min-height: 667px;
    position: relative;
  }

  .footer__text {
    padding-block-start: 283px;
    padding-block-end: 248px;
  }
}
